.item {

  .data-wrapper {
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    &.justify-content-around {
      justify-content: space-around;
    }

    .data-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;

      img {
        width: 3rem;
      }

      p {
        font-weight: bold;
        margin-bottom: 0;
      }

      .title {
        font-weight: normal;
      }
      
      /*.recovered {
        color: #FFE17D;
      }
      
      .deaths {
        color: #54596E;
      }
      
      .confirmed {
        color: #BEE86E;
      }*/
    }
  }
}
