html {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  background: #f0f0f0;
}

header, nav {
  display: flex;
  justify-content: center;
  background: #FF2B6A;
  color: #fff;
}

input {
  border-radius: 6px;
  height: 25px;
  text-align: center;
  width: 50%;
  margin: 15px auto;
}

nav {
  background-color: #ff5b7f;
   span {
     color: #fff;
     font-size: 20px;
     margin: 10px;
     padding: .2rem .7rem;
     text-decoration: none;
     
     &:hover, &.active {
       cursor: pointer;
       background: #FF2B6A;
       border-radius: 10px;
     }
   }
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.items-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
  grid-gap: 1rem;

  .item {
    margin: .5rem;
    padding: 1rem;
    border-radius: 10px;
    background: #fff;
    box-shadow: 0 5px 10px #888888;


    img {
      width: 100%;
    }

    .country {
      color: #54596E;
      font-size: 20px;
      font-weight: bold;
    }

    .province {
      color: #ff5b7f;
      font-size: 18px;
      font-weight: normal;
    }

    .last-update {
      color: #5A4650;
      font-size: 14px;
    }

    .profile {
      display: flex;
      flex-direction: column;
      align-items: center;

      .country {
        text-decoration: none;
        margin: 1rem;
      }

      .contact-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;


        img {
          width: 3rem;
          margin: 0 1rem;
        }
      }
    }

    .img-profile {
      width: 160px;
      border-radius: 50%;
    }
  }
}

.error {
  font-weight: bold;
  text-align: center;
  margin-top: 1rem;
}

@media screen and (min-width: 460px) {
  .items-container {
    grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
  }
}
