nav {

  span {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: .5rem;


    img {
      width: 1.5rem;
      color: #ffffff;
    }
  }
}
